<link href="show/index.css" rel="stylesheet" />
<div ng-show="empty == 1" class="not-found container">
    <h1>Page 404</h1>
    <h2>Utilisateur introuvable</h2>
    <button ng-click="doTheBack()" class="btn btn-primary">Back</button>
</div>
<div ng-show="empty == 0" class="profile-container container">
    <div class="profile-summary row">
        <div class="profile-picture col-md-3">
            <div class="img-wrapper">
                <img ng-show="user.photo_link == null" class="profile-img" src="../../content/images/user-default.png"/>
                <img ng-show="user.photo_link.length > 0" class="profile-img" ng-src="../{{user.photo_link}}" alt="name" />
            </div>
            <div class="infos-wrapper col-md-12">
                <div ng-if="user.connected" class="affinity">
                    <img src="../../content/images/cats-in-love.png"/>Vous etes connectés
                </div>
                <div class="col-md-12">
                    <svg class='img-state' xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="20px" height="20px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 120.65 120.65" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" baseProfile="full">
                        <g id="Warstwa_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"/>
                        <circle ng-class="{disconnected: user.actif == 0}" class="fil0" cx="60.325" cy="60.325" r="60.325"/>
                        </g>
                    </svg>
                    <div class="state-user actif-user" ng-show="user.actif == 1">Connecté</div>
                    <div class="state-user offline-user" ng-show="user.actif == 0">Déconnecté</div>
                    <div class="state-since" ng-show="user.actif == 1">depuis <time class="timeAgo">{{ user.active_since | timeAgo }}</time></div>
                    <div class='state-since' ng-show="user.offline_since && user.actif == 0"><time class="timeAgo">{{ user.offline_since | timeAgo }}</time></div>
                    <div class="state-since" ng-show="!user.offline_since && user.actif == 0"> Jamais connecté </div>
                </div>
            </div>
            <p class="profile-reported" ng-if="user.reported == 1">Reporter comme faux profil <a ng-click="dereported(this, user.id)" class="dereported">Annuler </a></p>
            <p class="profile-popularity">{{user.popularity}} points</p>
            <!-- <p class="profile-activity"> <span></span> connecté depuis </p> !-->
            <div class="col-xs-12 action-btns">
                <button ng-if="user.matched == 0" ng-click="LikeUser(this, user.id, user.first_name)" class="btn btn-default flash-btn col-md-6 col-xs-12">  Flasher </button>
                <button ng-if="user.matched == 1" ng-click="UnLikeUser(this,user.id, user.first_name)" class="btn btn-default deflash-btn col-md-6 col-xs-12"> deFlasher </button>
                <a ng-if="user.connected == 1" ui-sref="chat({id_user: user.id})" class="action-btn chat-btn col-md-6 col-xs-12 btn btn-default">Contacter</a>

            </div>

        </div>
        <div class="profile-informations col-md-9">
            <div class="col-md-12">
                <h1 class="profile-information profile-title col-md-6">{{user.first_name}} {{user.last_name}}</h1>
                <p class="profile-information profile-login col-md-6"> {{user.login}} </p>
            </div>
            <div class="col-md-12">
                <p class="profile-information profile-position col-md-6"> <img src="../content/images/placeholder.png"> {{ user.city }} </p>

                <p ng-show="user.gender.length > 0" class="profile-information profile-gender col-md-6"> <img ng-src="{{user.gender | genderImageFilter}}"> {{user.gender | genderFilter}} </p>
            </div>
            <div class="profile-age-orientation col-md-12">
                <p ng-show="user.birth_date.length > 0" class="profile-information profile-age col-md-6"><img src="../content/images/calendar.png"> {{user.birth_date | ageFilter}} ans </p>
                <p ng-show="user.orientation.length > 0" class="profile-information profile-orientation col-md-6">
                    <span ng-switch on="{{user.orientation}}">
                       <img ng-src='{{user.orientation | orientationFilter}}'>
                    </span> {{user.orientation}}
                </p>
            </div>
            <div ng-show="user.interests.length > 0" class="profile-interests col-md-12">
                <span ng-repeat="interest in interests" class="profile-interest">#{{interest}}</span>
            </div>
        </div>
    </div>
    <div ng-show="user.bio.length > 0" class="profile-bio row">
        <h1 class="bio-title text-center">Bio</h1>
        <p class="bio-content text-center">"{{user.bio }}"</p>
    </div>
    <div ng-show="album.length > 0" class="profile-photos row">
        <h1 class="photos-title text-center">Photos</h1>
        <div class="col-md-12 tiles">
            <div class="row album-wrapper">
                <img ng-repeat=" photo in album" class="profile-photo img-responsive col-md-3 col-sm-6 col-xs-12" ng-src="../{{photo.photo_link}}">
            </div>
        </div>
    </div>
</div>
<div ng-show="empty == 0" class="row">
    <div class="profile-block col-md-6">
        <a ng-click="BlockedUser(this, user.id)"><img src="../content/images/block.png">Bloquer</a>
    </div>
    <div class="profile-report col-md-6">
        <a ng-click="ReportedUser(this, user.id)"><img src="../content/images/report.png">Reporter</a>
    </div>
</div>
