<link href="profile/index.css" rel="stylesheet" />
<div class="profile-container container">
    <div class="profile-summary row">
        <div class="profile-picture col-md-3">
            <div class="profile-img-container">
                <div ng-show="profile == null" ngf-drop ngf-select="uploadPhotoProfile($file)" ng-model="file" class="drop-box new-box"
                     ngf-drag-over-class="dragover"
                     name="file"
                     accept="image/*"><img src="../../content/images/photo-camera.png"/> <span> Ajouter une photo de profile </span> </div>
                <div ng-show="profile.length > 0" class="image-profile-wrapper">
                    <img class="profile-img" ng-src="../{{profile}}" alt="name" />
                    <div  ngf-drop ngf-select="uploadPhotoProfile($file)" ng-model="file" class="drop-box edit-box"
                          ngf-drag-over-class="dragover"
                          name="file"
                          ngf-validate="width: {min: 150, max:800}, height: {min: 150, max: 800}"
                          accept="image/*">
                        <img src="../../content/images/photo-camera-inverse.png"/> <span>Éditer la photo de profile</span>
                    </div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                </div>
            </div>
            <p class="profile-popularity">255 points</p>
        </div>
        <div class="profile-informations col-md-9">
           <div class="col-md-12">
               <h1 class="profile-information profile-title col-md-6">{{user.first_name}} {{user.last_name}}</h1>
               <p class="profile-information profile-login col-md-6"> {{user.login}} </p>
           </div>
            <div class="col-md-12">
                <p class="profile-information profile-position col-md-6"> <img src="../content/images/placeholder.png"> Paris </p>

                <p ng-show="user.gender.length > 0" class="profile-information profile-gender col-md-6"> <img ng-src="{{gender == 'Homme' && '../content/images/masculine.png' || '../content/images/female.png'}}"> {{gender}} </p>
            </div>
            <div class="profile-age-orientation col-md-12">
                <p ng-show="user.birth_date.length > 0" class="profile-information profile-age col-md-6"><img src="../content/images/calendar.png"> {{age}} ans </p>
                <p ng-show="user.orientation.length > 0" class="profile-information profile-orientation col-md-6">
                    <span ng-switch on="{{user.orientation}}">
                       <img ng-switch-when="homo" src='../content/images/lesbian.png'>
                       <img ng-switch-when="bi" src='../content/images/bisexual.png'>
                       <img ng-switch-default   src='../content/images/gender.png'>
                    </span> {{user.orientation}}
                </p>
            </div>
            <div ng-show="user.interests.length > 0" class="profile-interests col-md-12">
                <span ng-repeat="interest in interests" class="profile-interest">#{{interest}}</span>
            </div>
        </div>
    </div>
    <div ng-show="user.bio.length > 0" class="profile-bio row">
        <h1 class="bio-title text-center">Bio</h1>
        <p class="bio-content text-center">"{{user.bio }}"</p>
    </div>
    <div class="profile-photos row">
        <h1 class="photos-title text-center">Photos</h1>
        <div class="col-md-12 tiles">
            <!-- ng-show="profile == null"!-->
            <div class="row album-wrapper">
                <img ng-repeat=" photo in album" class="profile-photo img-responsive col-md-3 col-sm-6 col-xs-12" ng-src="../{{photo.photo_link}}">
                <div ngf-drop="uploadPhoto(album)" ngf-select="uploadPhotos(album)"
                     class="group-photos col-md-3 col-sm-6 col-xs-12"
                     ng-show="album.length < 4"
                     ngf-drag-over-class="dragover"
                     ng-model = 'album'
                     ngf-multiple="true"
                     ngf-max-files="4"
                     ngf-validate="width: {min: 200, max:800}, height: {min: 200, max: 800}"
                     accept="image/*"><img src="../../content/images/photo-camera.png"/> <span> glissez vos photos ici </span> <span> (4 max) </span>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </div>
            </div>
        </div>
        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
    </div>
    <div class="row">
        <div class="profile-block col-md-6">
            <a><img src="../content/images/block.png">Bloquer</a>
        </div>
        <div class="profile-report col-md-6">
            <a><img src="../content/images/report.png">Reporter</a>
        </div>
    </div>
</div>